*{
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 20px 0 20px;
  background-color: gray;
  @media screen and (max-width: 768px)  {
    flex-direction: column;
  }
}
.menu ul {
  display: flex;
  list-style: none;
  @media screen and (max-width: 768px)  {
    flex-wrap: wrap;
  }
}
.menu .list {
  padding: 20px 10px;
}
.menu .list a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.menu .list a:hover {
  color: rgb(106, 175, 255);
 }
.mac {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/mac.jpg");
  background-repeat: no-repeat;
  height: 400px;
    position:relative;
  }
.mac span {
  width: 250pt;
  color:#FFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px; 
  background-color:rgba(0,0,0,.4);
}
.svgs {
display: flex;
justify-content: space-around;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
}
}
.svg {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.image {
margin: 25px;
display:block;
height: 100px;
width: 100px;
}
.text {
font: 18pt sans-serif;
color: rgb(0, 0, 0);
}  
.svg:hover .image{
  border-radius: 20px;
  background-color: rgb(94, 191, 255);
}
.svg:hover .text{
  color: rgb(94, 191, 255);
}
.svgs .lorem {
  width: 180pt;
text-align: center;
color: rgb(89, 99, 105);
}
.featured {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.featured h1 {
margin: 50px auto 10px auto;
text-align: center;
width: 300pt;
}
.featured h3 {
margin: 10px auto 50px auto;
text-align: center;
width: 300pt;
}
.imgs1, .imgs2 {
display: flex;
justify-content: center;
align-items: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
}
}
.imgs1 .img1 {
background-image: url("../img/1.jpg");
background-repeat: no-repeat; 
height: 256px;
width: 40%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.imgs1 .img2 {
background-image: url("../img/2.jpg");
background-repeat: no-repeat;
height: 256px;
width: 20%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 33%;
}
@media screen and (max-width: 500px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.imgs1 .img3 {
background-image: url("../img/3.jpg");
background-repeat: no-repeat;
height: 256px;
width: 20%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 33%;
}
@media screen and (max-width: 500px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.imgs1 .img4 {
background-image: url("../img/4.jpg");
background-repeat: no-repeat;
height: 256px;
width: 20%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 33%;
}
@media screen and (max-width: 500px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.imgs2 .img5 {
background-image: url("../img/5.jpg");
background-repeat: no-repeat;
height: 256px;
width: 20%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 33%;
}
@media screen and (max-width: 500px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.imgs2 .img6 {
background-image: url("../img/6.jpg");
background-repeat: no-repeat;
height: 256px;
width: 20%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 33%;
}
@media screen and (max-width: 500px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.imgs2 .img7 {
background-image: url("../img/7.jpg");
background-repeat: no-repeat;
height: 256px;
width: 20%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 33%;
}
@media screen and (max-width: 500px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.imgs2 .img8 {
background-image: url("../img/8.jpg");
background-repeat: no-repeat;
height: 256px;
width: 40%;
background-position: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
  width: 100%;
}
}
.details {
display: flex;
justify-content: center;
align-items: center; 
opacity: 0;
font-size: 20pt;
color: #fff;
height: 100%;
}
.details:hover {
opacity: 1;
background: rgba(0,0,0,0.5);
}
.imgs3 {
display: flex;  
justify-content: center;
align-items: center;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
}
}
.imgs3 .pair {
  display: flex;  
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px)  {
    flex-wrap: wrap;
  }
}
.pair .img2, .pair .img3, .pair .img4, .pair .img5 {
background-size: 100px 100px;
border-radius: 50px;
width: 100px;
height: 100px;
margin: 50px;
}
.pair .img2 {
background-image: url("../img/2.jpg");
}
.pair .img3 {
background-image: url("../img/3.jpg");
}
.pair .img4 {
background-image: url("../img/4.jpg");
}
.pair .img5 {
background-image: url("../img/5.jpg");
}
.img2 .text4, .img3 .text5, .img4 .text6, .img5 .text7{
margin: 25px;
text-align: center;
}
.img2 p, .img3 p, .img4 p, .img5 p{
opacity: 0;
font-size: 30px;
line-height: 100px;
text-align: center;
color: #fff;
}
.img2:hover p, .img3:hover p, .img4:hover p, .img5:hover p{
opacity: 1;
border-radius: 50px;
background: rgba(0,0,0,0.3);
}
.background1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
background-color:rgba(0,0,0,.4);
@media screen and (max-width: 500px)  {
  flex-wrap: wrap;
}
}
.tablet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.awesome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 768px)  {
    align-items: center;
    flex-wrap: wrap;
  }
}

.awesome .type{
  display: flex;
color: #fff;
width: 200pt;
  @media screen and (max-width: 768px)  {
    justify-content: center;
    flex-wrap: wrap;
    width: 200pt;
  }
  @media screen and (max-width: 500px)  {
    flex-wrap: wrap;
    width: 100%;
  }
}
.awesome .awesomes {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px)  {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: 500px)  {
    flex-wrap: wrap;
  }
}
 .after-awesome, .right-after-awesome{

  color: black;
width: 220pt;
@media screen and (max-width: 768px)  {
  margin: 5pt 0 0 0;
}
}
.number-texts {
display: flex;
justify-content: center;
align-items: center;
height: 300px;
@media screen and (max-width: 768px)  {
  flex-wrap: wrap;
}
}
.number-texts .pair {
  display: flex;  
  justify-content: center;
  align-items: center;
  
  @media screen and (max-width: 384px)  {
    flex-wrap: wrap;
  }
}
.number-text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.number-text .number {
  display: flex;
  align-items: center;
  justify-content: center;
font: 36pt sans-serif;
color: rgb(0, 0, 0);
width: 150pt;
}
.number-text .text {
  display: flex;
  align-items: center;
  justify-content: center;
font: 18pt sans-serif;
color: rgb(0, 0, 0);
width: 150pt;
}   
.last {
padding: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color:rgba(0,0,0,.4);
height: 200px;
align-items: flex-start;
}
.about-us, .get-in-touch, .social-media {
display: flex;
flex-direction: column;
align-items: flex-start;
width: 300px;
}
.about-us-header {
font: 36pt sans-serif;
color: rgb(0, 0, 0);
}
.about-us-text {
font: 12pt sans-serif;
color: rgb(0, 0, 0);
}   
.get-in-touch-header {
font: 36pt sans-serif;
color: rgb(0, 0, 0);
}
.get-in-touch-flexes {
display: flex;
justify-content: space-evenly;
align-items: flex-start;
background-color:rgba(100,0,100,.4);
flex-direction: column;
}
.get-in-touch-flex-header {
font: 18pt sans-serif;
width: 100px;
}
.get-in-touch-flex-text {
font: 8pt sans-serif;
width: 100px;
}
.get-in-touch-flex {
display: flex;
justify-content: right; 
align-items: center;
}   
.social-media-header {
font: 36pt sans-serif;
color: rgb(0, 0, 0);
}
.social-media-text {
font: 12pt sans-serif;
color: rgb(0, 0, 0);
} 
.icons {
display: flex;
flex-direction: row;
}
.icon {
padding: 0px 20px 0px 0px;
}
footer p {
text-align: center;
}