*{
	margin: 0;
	padding: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  0 20px 0 20px;
	background-color: gray;
	@media screen and (max-width: 768px)  {
		flex-direction: column;
	}
	&__menu {
		display: flex;
		list-style: none;
		@media screen and (max-width: 768px)  {
			flex-wrap: wrap;
		}
	}
}
.menu {
	&__list-item {	
			padding: 20px 10px;
	}
	&__link {
		text-decoration: none;
		font-weight: bold;
		color: #ffffff;
	}
	&__link:hover {
		color: rgb(106, 175, 255);
	}
}
.section {
	display: flex;
}
.section-title {
	justify-content: flex-end;
	align-items: center;
	background-image: url("../img/mac.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	position:relative;

	&__slogan {
		width: 400px;
		color:#FFF;
		font-family:Arial, Helvetica, sans-serif;
		font-size:20px; 
		background-color:rgba(0,0,0,.4);
		}
}
.section-features {
	padding: 0 100px;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (max-width: 1400px)  {
		padding: 0 50px;
	}
	@media screen and (max-width: 900px)  {
		padding: 0 25px;
	}
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			&:hover {
				.section-features {
					&__image {
						border-radius: 20px;
						background-color: rgb(94, 191, 255);
					}
					&__text {
						color: rgb(94, 191, 255);
					}
				}
			}
		}
		&__image {
			margin: 25px 0 25px 0;
			display:block;
			height: 100px;
			width: 100px;
		}
		&__text {
			margin: 0 0 25px 0;
			font: 18px sans-serif;
			color: rgb(0, 0, 0);
		}  
		&__description {
			padding: 0 20px;	
			width: 200px;
			text-align: center;
			color: rgb(89, 99, 105);
		}
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__heading {
		margin: 50px auto 10px auto;
		text-align: center;
		width: 300px;
	}
	&__text {
		margin: 10px auto 50px auto;
		text-align: center;
		width: 300px;
	}
}
.gallery {
	&__line {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 768px)  {
			flex-wrap: wrap;
		}
	}
	&__item {
		background-repeat: no-repeat;
		height: 256px;
		background-size: cover;
		background-position: center;
		@media screen and (max-width: 768px)  {
			flex-wrap: wrap;
		}
		width: 20%;
			@media screen and (max-width: 768px)  {
				width: 33%;
			}
			@media screen and (max-width: 500px)  {
				width: 100%;
			}
		&--big {
			width: 40%;
			@media screen and (max-width: 768px)  {
				width: 100%;
			}
		}
	}
	&__details {
		display: flex;
		justify-content: center;
		align-items: center; 
		opacity: 0;
		font-size: 20px;
		color: #fff;
		height: 100%;
			&:hover {
				opacity: 1;
			background: rgba(0,0,0,0.5);
		}
	}
	.image1 {
		background-image: url("../img/1.jpg");
	}
	.image2 {
		background-image: url("../img/2.jpg");
	}
	.image3 {
		background-image: url("../img/3.jpg");
	}
	.image4 {
		background-image: url("../img/4.jpg");
	}
	.image5 {
		background-image: url("../img/5.jpg");
	}
	.image6 {
		background-image: url("../img/6.jpg");
	}
	.image7 {
		background-image: url("../img/7.jpg");
	}
	.image8 {
		background-image: url("../img/8.jpg");
	}
}
.employees {
	display: flex;  
	justify-content: center;
	align-items: center;
	@media screen and (max-width: 768px)  {
		flex-wrap: wrap;
	}
	&__pairs {
		display: flex;  
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 768px)  {
			flex-wrap: wrap;
		}
	}
}
.employee {
	&__img2 {
		background-image: url("../img/2.jpg");
	}
	&__img3 {
		background-image: url("../img/3.jpg");
	}
	&__img4 {
		background-image: url("../img/4.jpg");
	}
	&__img5 {
		background-image: url("../img/5.jpg");
	}
	&__text {
		margin: 25px;
		text-align: center;
	}
	&__details {
		display: flex;
		justify-content: center;
		border-radius: 50px;
		align-items: center; 
		opacity: 0;
		font-size: 20px;
		color: #fff;
		height: 100%;
	}
	&__details:hover {
		opacity: 1;
		background: rgba(0,0,0,0.5);
	}
}
.pair {
	&__item {
		background-size: 100px 100px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		margin: 50px 25px;
	}
}	
.mobile-gallery {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color:rgba(0,0,0,.4);
	@media screen and (max-width: 500px)  {
		flex-wrap: wrap;
	}
}
.mobile-gallery__image,
.feature-description {
	display: flex;
	justify-content: center;
	align-items: center;
}
.feature-description {
	flex-direction: column;
	@media screen and (max-width: 768px)  {
		flex-wrap: wrap;
	}
	&__heading {
		display: flex;
		color: #fff;
		@media screen and (max-width: 768px)  {
			justify-content: center;
			flex-wrap: wrap;
			width: 200px;
		}
		@media screen and (max-width: 500px)  {
			flex-wrap: wrap;
			width: 100%;
			padding: 20px 0;
		}
	}
	&__text-container {
		display: flex;
		align-items: center;
		@media screen and (max-width: 768px)  {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media screen and (max-width: 500px)  {
			flex-wrap: wrap;
		}
	}
	&__text {
		color: black;
		width: 210px;
		padding: 20px;
		@media screen and (max-width: 768px)  {
			flex-wrap: wrap;
			width: 190px;
		}
	}
}
.statistics { /* тоже глубоко + названия */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	@media screen and (max-width: 768px)  {
		flex-wrap: wrap;
	}
	&__pair {
		display: flex;  
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 384px)  {
			flex-wrap: wrap;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__heading,
	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(0, 0, 0);
		width: 150px;
	}
	&__heading {
	font: 36px sans-serif;
	}
	&__text {
		font: 18px sans-serif;
	}
}   
.footer {
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	background-color:rgba(0,0,0,.4);
	align-items: flex-start;
	@media screen and (max-width: 768px)  {
		flex-wrap: wrap;
	}
	@media screen and (max-width: 500px)  {
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 220px;
	}
	&__heading {
		font: 36px sans-serif;
		color: rgb(0, 0, 0);
	}
	&__text {
		font: 12px sans-serif;
		color: rgb(0, 0, 0);
	}
	&__contacts {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-direction: column;
	}
	&__contacts-item {
		display: flex;
		justify-content: right; 
		align-items: center;
	}
	&__icons-container {
		display: flex;
		flex-direction: row;
	}
	&__icon {
		margin: 0 5px;
	}
}
.contacts {
	&__heading {
		font: 18px sans-serif;
		width: 100px;
	}
	&__info {
		font: 8px sans-serif;
		width: 100px;
	}
}
.footer__copyrigting {
	text-align: center;
}