* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  background-color: gray;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu .list {
  margin: 20px 10px;
}

.menu .list a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.menu .list a:hover {
  color: #6aafff;
}

.mac {
  position: relative;
  width: 100%;
}

.mac span {
  position: absolute;
  top: 30%;
  right: 0px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 130px;
}

.svgs {
  display: flex;
  justify-content: center;
}

.svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 25px;
  display: block;
  height: 100px;
  width: 100px;
}

.text {
  font: 18pt sans-serif;
  color: black;
}

.svg:hover .image {
  border-radius: 20px;
  background-color: #5ebfff;
}

.svg:hover .text {
  color: #5ebfff;
}

.svgs .lorem {
  width: 300px;
  text-align: center;
  color: #596369;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured h1 {
  margin: 50px auto 10px auto;
  text-align: center;
  width: 50%;
}

.featured h3 {
  margin: 10px auto 50px auto;
  text-align: center;
  width: 50%;
}

.imgs1, .imgs2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs1 .img1 {
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  width: 200%;
}

.imgs1 .img2 {
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.imgs1 .img3 {
  background-image: url("3.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.imgs1 .img4 {
  background-image: url("4.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.imgs2 .img5 {
  background-image: url("5.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.imgs2 .img6 {
  background-image: url("6.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.imgs2 .img7 {
  background-image: url("7.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.imgs2 .img8 {
  background-image: url("8.jpg");
  background-repeat: no-repeat;
  width: 200%;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 20pt;
  color: #fff;
}

.details:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.imgs3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs3 .img2, .imgs3 .img3, .imgs3 .img4, .imgs3 .img5 {
  background-size: 100px 100px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: 50px;
}

.imgs3 .img2 {
  background-image: url("2.jpg");
}

.imgs3 .img3 {
  background-image: url("3.jpg");
}

.imgs3 .img4 {
  background-image: url("4.jpg");
}

.imgs3 .img5 {
  background-image: url("5.jpg");
}

.imgs3 .img2 .text4, .imgs3 .img3 .text5, .imgs3 .img4 .text6, .imgs3 .img5 .text7 {
  margin: 25px;
  text-align: center;
}

.imgs3 .img2 p, .imgs3 .img3 p, .imgs3 .img4 p, .imgs3 .img5 p {
  opacity: 0;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

.imgs3 .img2:hover p, .imgs3 .img3:hover p, .imgs3 .img4:hover p, .imgs3 .img5:hover p {
  opacity: 1;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.background1 {
  position: relative;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
}

.tablet {
  position: absolute;
  bottom: 0;
  left: 200px;
}

.awesome {
  position: absolute;
  top: 50px;
  left: 500px;
  color: #fff;
}

.after-awesome {
  position: absolute;
  bottom: 50px;
  left: 500px;
  width: 300px;
  color: #fff;
}

.right-after-awesome {
  position: absolute;
  bottom: 50px;
  left: 900px;
  width: 300px;
  color: #fff;
}

.number-texts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.number-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-text .number {
  font: 36pt sans-serif;
  color: black;
}

.number-text .text {
  font: 18pt sans-serif;
  color: black;
}

.last {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 200px;
  align-items: flex-start;
}

.about-us, .get-in-touch, .social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.about-us-header {
  font: 36pt sans-serif;
  color: black;
}

.about-us-text {
  font: 12pt sans-serif;
  color: black;
}

.get-in-touch-header {
  font: 36pt sans-serif;
  color: black;
}

.get-in-touch-flexes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgba(100, 0, 100, 0.4);
  flex-direction: column;
}

.get-in-touch-flex-header {
  font: 18pt sans-serif;
  width: 100px;
}

.get-in-touch-flex-text {
  font: 8pt sans-serif;
  width: 100px;
}

.get-in-touch-flex {
  display: flex;
  justify-content: right;
  align-items: center;
}

.social-media-header {
  font: 36pt sans-serif;
  color: black;
}

.social-media-text {
  font: 12pt sans-serif;
  color: black;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0px 20px 0px 0px;
}

footer p {
  text-align: center;
}
